body {
    text-align: center;
}

.board {
    margin: auto;
    width: 350px;
}

.board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    background-color:rgb(72, 156, 65)
}